# Base de datos
DATABASE_URL=

# Permite ejecutar el seed únicamente en desarrollo local
DATABASE_BRANCH=development

# Better Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Sitio público
NEXT_PUBLIC_SITE_URL=http://localhost:3000

# Contacto
NEXT_PUBLIC_SALES_EMAIL=
NEXT_PUBLIC_CONTACT_PHONE=
NEXT_PUBLIC_WHATSAPP_NUMBER=

# Formulario de contacto
NEXT_PUBLIC_FORMSPREE_ENDPOINT=